body{
	background-image:url('../images/pozadie.jpg');
}

.default_hide{
  display: none;
}

#song-id {
	display: none;
}

#comment-input {
	display: none;
}

#logo {
	float: left;
	width: 4em;
}

.current-song-image {
	float: left;
	width: 2.85em;
	overflow: hidden;
	height: 2.85em;
	margin-right: 0.5em;
	background: #000;
}

#search-form {
	margin-left: 1em;
	float: left;
}

#show-playlist {
	float: left;
	width: 3em;
	margin-left: 1em;
}

#show-playlist a {
	font-size: 0.7em;
	display: block;
	line-height: 2.5em;
}

#my-account {
	float: right;
	margin-right: 1em;
}

#login-content {
	padding: 0px;
	display: block;
	position: fixed;
	top: 1.4em;
	right: 0em;
}

#log-in{
	font-size: 0.6em;
	position: absolute;
	right: 0em;
	top: 1.8em;
	display: none;
	background: #d2ff52;
	width: 24em;
	border-radius: 0px 0px 0px 5px;
}

.login-form{
	float: left;
	padding: 1em 2em;
}

.input-group label{
	margin-top: 0.3em;
	display: block;
	width: 4em;
	float: left;
}

.submit-form{
	color: Blue;
	font-weight: bold;
	font-size: 1.2em;
	border-radius: 5px;
	background-color: green;
	border: 3px solid green;
	display: block;
	margin: 0.5em auto;
	float: left;	
}

.submit-form:hover{
	color: Green;
	background-color: blue;
	border-color: blue;
}

.register-button{
	float: right;
	display: block;
	text-decoration: none;
	margin: 0.5em 0em;
	text-align: left;
	border-radius: 5px;
	background-color: red;
	border: 3px solid red;
}

.register-button:hover{
	color: red;
	background-color: fuchsia;
	border-color: fuchsia;
}

#fb-login{
	float: none;
	clear:both;
	background-image:url('../images/facebook_login.gif');
	border: none;
	background-repeat: none;
	width: 175px;
	height: 25px;
}

#playlist a{
	color: white;
	text-decoration: line-through;
}

#playlist a:hover{
	color: fuchsia;
}